<%- include('header') %>
<div class="container text-center mt-5"><a class="btn btn-warning" href="/users">User List</a></div>
<div class="container text-center mt-5"><a class="btn btn-danger" href="/mobiles">Mobile List</a></div>
<%- include('footer') %>